<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
    <!-- 这个是Spring的配置文件 -->
    <!-- 开启Spring的注解,若不添加该项,将来使用@Autowired注解时会报错-->
    <context:annotation-config />
    <!-- 扫描包,将指定包下的含有特殊注解的对象(如@Component,@Service等...)交给Spring IOC容器管理 -->
    <context:component-scan base-package="com.freedomfly.service" />
    <context:component-scan base-package="com.freedomfly.serviceImpl"></context:component-scan>


    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/freedomfly?characterEncoding=UTF-8&amp;useSSL=false"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>

    <!-- 配置sqlSession属性 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  typeAliasesPackage：它一般对应我们的实体类所在的包，这个时候会自动取对应包中不包括包名的
            简单类名作为包括包名的别名。多个package之间可以用逗号或者分号等来进行分隔。(value的值一定要是包的全名) -->
        <property name="typeAliasesPackage" value="com.entity"></property>
        <!-- 这个属性是必须的 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- mappLocations: 它表示我们存放Mapper.xml文件的位置 -->
        <property name="mapperLocations" value="classpath:com/freedomfly/mapper/mapper.xml"></property>
    </bean>


    <!--  自动扫描 将Mapper接口生成代理注入到Spring Mybatis在与Spring集成的时候可以配置MapperFactoryBean来生成Mapper接口的代理 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mapper"></property>
    </bean>

</beans>
