<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <context:annotation-config/>
    <!-- 自动扫描包,我们只扫描com.controller包下的类即可,其他的由Spring配置文件管理即可 -->
    <context:component-scan base-package="com.freedomfly.controller"></context:component-scan>
    <mvc:annotation-driven/>

    <!-- 处理静态资源请求 -->
    <mvc:default-servlet-handler/>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--jsp解析器  prefixq是前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!--jsp解析器  suffix是前缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>