<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedomfly.dao.QuanxianMapper">
  <resultMap id="BaseResultMap" type="com.freedomfly.entity.QuanXian">
    <id column="qx_id" jdbcType="INTEGER" property="qxId" />
    <result column="qx_name" jdbcType="VARCHAR" property="qxName" />
    <result column="qx_remarks" jdbcType="VARCHAR" property="qxRemarks" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quanxian
    where qx_id = #{qxId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.freedomfly.entity.QuanXian">
    insert into quanxian (qx_id, qx_name, qx_remarks
      )
    values (#{qxId,jdbcType=INTEGER}, #{qxName,jdbcType=VARCHAR}, #{qxRemarks,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.freedomfly.entity.QuanXian">
    update quanxian
    set qx_name = #{qxName,jdbcType=VARCHAR},
      qx_remarks = #{qxRemarks,jdbcType=VARCHAR}
    where qx_id = #{qxId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select qx_id, qx_name, qx_remarks
    from quanxian
    where qx_id = #{qxId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select qx_id, qx_name, qx_remarks
    from quanxian
  </select>
</mapper>